/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #824c;
    background-color: #EAE4DC;
}

a {
    color: #000000;
    text-decoration: none;
}

.container {
    width: 85%;
    margin: 0 auto;
    padding: 40px 0;
}

.section {
    padding: 60px 0;
}

.section-frame {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(5, 0, 0, 0.1);
    border-radius: 8px;
    border-left: 6px solid #eocfc5;
    margin-bottom: 40px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #eocfc5;
}

/* Header Styles */
header {
    background-color: #824c67;
    color: #fff;
    padding: 20px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}

.header-logo h1 {
    margin: 0;
    font-size: 2em;
}

.header-logo p {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

/* About Section */
.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-pic img {
    width: 300px;
    height: 350px;
    border-radius: 50%;
    border: 5px solid #ddd;
}

.bio {
    width: 65%;
    padding-left: 20px;
}

/* Skills Section */
.skills-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.skills-block .skill {
    width: 45%;
}

/* Experience Section */
.experience-item {
    margin-bottom: 30
}
.project-list {
    list-style-type: none;
}

.project-list li {
    background-color: #f4f4f4;
    padding: 15px;
    margin: 10px 0;
    border-left: 4px solid #4A90E2;
}
.achievement-list li{
    background-color: #f4f4f4;
    padding: 15px;
    margin: 10px 0;
    border-left: 4px solid #4A90E2;
}
/* Contact Section */
.contact-info p {
    font-size: 1.2em;
}

.btn-contact {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    border: 2px solid #4A90E2;
    color: #4A90E2;
    border-radius: 5px;
    transition: all 0.3s;
}

.btn-contact:hover {
    background-color: #4A90E2;
    color: #fff;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    margin-top: 20px;
}
